#///////////////////////////
# Cocos Creator Project
#///////////////////////////
library/
temp/
local/
build/
profiles/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Mac
#//////////////////////////
.DS_Store

#//////////////////////////
# Android Studio
#//////////////////////////
native/engine/android/app/debug/
native/engine/android/app/release/
build-templates/
datas/
preview-template--/
package-lock.json
native/engine/
